################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# IDEs and editors
.vs/
obj/
bin/
